body{
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    margin-top: 1.5em;
    color: #ada9a9;
}

/* 通用屬性 */
.title{
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
}
.content{
    color: #ada9a9;
}
.circle{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0px 5px;
    font-size: medium;
}

.profile{
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #252b2b;
    border-radius: 10px 0px 0px 10px;
}
.profile1{
    flex:1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    text-align: center;
    padding: 1em 1em 0em;
}
.profile1>img{
    max-width: 70%;
    max-height: 70%;
    border-radius: 5px;
}
.profile1>.name{
    font-size: 2.2em;
    font-weight:500;
    color: #fff;
    padding: 2px;
    margin: 5px;
}
.profile1>.jobTitle{
    font-size: 1em;
    font-weight: bold;
    color: #ada9a9;
}
.profile2{
    flex:2;
    min-height: 300px;
    padding: 1em 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.profile2 .contactContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin: 10px 10px 0px;
}
.profile2 .contactContent a{
    color: #fff;
    /* font-size: 0.8em; */
    display: block;
    margin: 5px 10px 0px;
}
.mainContent {
    width: 600px;
    display: grid;
    padding: 2em;
    box-sizing: border-box;
    grid-template-columns: repeat(2,1f);
    grid-auto-rows: auto;
    background-color: #252b2b;
    border-radius: 0px 10px 10px 0px;
}
.mainContent a{
    color: rgb(181, 102, 255);
}
.mainContent>.bigBox{
    grid-column-start: 1;
    grid-column-end: 3;
}
.mainContent>.box{
    margin: 1em 0em 1em ;
}



.hobby{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}
.hobby>.card{
    text-align: center;
    padding: 8px 0px;
    box-sizing: border-box;
    width: 50px;
    height:50px;
    background-color: rgb(0, 0, 0);
    color: rgb(235, 235, 235);
    border-radius: 5px;
}
.skill{
    padding: 0em 1em 0em; 
    color: #fff;
}
.skill .progressBar{
    background-color:#ada9a9;
    margin: 0.2em 0em 0em ; 
    border-radius: 6px; 
}
.skill>.progressBar>.progressBarInner{
    height:1em;
    background-color: rgb(181, 102, 255);
    text-align: center;
    color: #fff;
    border-radius: 6px; 
}
.skill>p{
    margin-bottom: 0px;
}

@media screen and (max-width:869px) { 
    .profile{
        flex-direction: row;
        width: 600px;
        border-radius: 10px 10px 0px 0px;
    }
    .profile2{
        justify-content: center;
    }
    .mainContent{
        border-radius: 0px 0px 10px 10px;
    }
    
  }
@media screen and (max-width:375px) { 
    .mainContent{
        font-size: smaller;
    }    
}